body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFF6FD;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

h4{
    padding-top: 2rem;
}

.bottles{
    background: #FFDCF7;
    height: calc(50vh - 56px);
}

.white{
    background: wh;
}